<section>
    <div class="container">
        <h2>Add Products</h2>
        <div class="row mt-5">
            <div class="col-md-6">
                <form action="/admin/add_product" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="name">

                    </div>
                    <div class="form-group">
                        <label for="Caterogy">Caterogy</label>
                        <input type="text" class="form-control" name="cate" id="cate">
                        {{!-- <select class="form-control" name="cate" id="cate">
                            <option value="Mobile">Mobile</option>
                            <option  value="Shoe">Shoe</option>
                            <option  value="Dress">Dress</option>
                        </select> --}}
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" name="price" id="price" aria-describedby="price">

                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="image">Image file</label>
                        <input type="file" class="form-control-file" name="Image" id="Image">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>



        </div>
    </div>

</section>